* {
  cursor: url("../../public/images/Cursor.png"), auto;
}

body {
  margin: 0px;
  overflow: hidden;
}

@font-face {
  font-family: "Summer Show";
  src: url("../../public/fonts/Summer-Show.ttf") format("truetype");
}